# PlatformIO
.pio/
.vscode/
.pioenvs/
.piolibdeps/

# Environnements Python
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Dossiers locaux
backup/

# Build artifacts
*.bin
*.elf
*.map

# Demo officiel Waveshare
demo_officiel/
*.zip

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
